apiVersion: v1
kind: PersistentVolume
metadata:
  name: k8s-ai-agent-pv
  namespace: k8s-ai-agent
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/k8s-ai-agent"
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - andrek8s
