apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: k8s-ai-agent-pvc
  namespace: k8s-ai-agent
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
